/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Colors variable
*/

:root {
    --primary-red: #d32e2a;
    --primary-red-faded: #c44644;
    --secondary-sand-gold: #d09771;
    --bg-brown-black: #403630;
    --bg-faded-maroon: #4b3432;
    --bg-black: #252525;
    --text-heading-white: rgb(195, 195, 195);
    --text-faded-white: #918f8a;
    --text-highlight-yellow: #ffd469;
    --text-black: #101010;
}

body {
    background-color: var(--bg-black);
    scroll-behavior: smooth;
}

header .hero-background-wrapper {
    background-image: url(./images/title-bg-img.jpg);
    background-size: cover;
    background-color: rgb(54 35 35);
}

header .hero-wrapper {
    margin: 0 13em 0 13em;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav>a img {
    padding: 1.5em 1.5em 1.5em 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 1.5em 1em 1em 1em;
    color: var(--text-heading-white);
    display: inline-block;
    text-decoration: none;
    font-family: "Bebas Neue", "Roboto Condensed", "Squada One", "Staatliches";
    font-size: 20px;
}

a:link,
a:visited {
    color: var(--text-heading-white);
}

a:hover {
    color: var(--primary-red-faded);
}

a:active,
a:focus {
    color: var(--secondary-sand-gold);
}


/* general elements desogn */

h1 {
    font-family: "Bebas Neue", "Roboto Condensed", "Squada One", "Staatliches";
    color: var(--text-heading-white);
    font-size: 48px;
}

h2 {
    font-family: "Bebas Neue", "Roboto Condensed", "Squada One", "Staatliches";
    color: var(--text-heading-white);
    font-size: 36px;
    padding-bottom: 0.5em;
}

h3 {
    font-family: "Montserrat", "Merriweather", "Nunito Sans", "Oxygen", "Source Sans Pro";
    color: var(--primary-red-faded);
    padding-bottom: 0.5em;
    font-size: 20px;
    line-height: 1.5em;
}

h4 {
    font-family: "Montserrat", "Merriweather", "Nunito Sans", "Oxygen", "Source Sans Pro";
    color: var(--secondary-sand-gold);
    padding-bottom: 0.5em;
    font-size: 24px;
}

h5 {
    font-family: "Bebas Neue", "Roboto Condensed", "Squada One", "Staatliches";
    color: var(--text-heading-white);
    font-size: 24px;
    padding-bottom: 0.5em;
}

body {
    color: var(--text-faded-white);
}

p {
    font-family: "Montserrat", "Merriweather", "Nunito Sans", "Oxygen", "Source Sans Pro";
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 500;
}


/* Hero area Styling */

.hero-area-title {
    display: flex;
    justify-content: space-between;
}

.hero-area-title h1 {
    padding: 1.5em 2em 1em 0em;
    line-height: 1.2em;
}

.hero-area-title h1 span {
    color: #d09771;
}

.hero-area-title figure {
    padding: 3em 0em 3em 3em;
    margin-right: -6em;
}

.hero-area-title figure figcaption {
    font-family: "Bebas Neue", "Roboto Condensed", "Squada One", "Staatliches";
    color: var(--text-faded-white);
    font-size: 24px;
    margin-left: 3em;
}

.hero-area-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.hero-area-content .screening-type {
    margin-top: 6em;
    /* margin-right: 4em; */
}

.hero-area-content .screening-type p {
    font-size: 28px;
    font-family: "Bebas Neue", "Roboto Condensed", "Squada One", "Staatliches";
    color: var(--secondary-sand-gold);
    margin-bottom: 0.5em;
}

.hero-area-content .screening-type a {
    text-decoration: none;
    font-family: "Bebas Neue", "Roboto Condensed", "Squada One", "Staatliches";
    font-size: 20px;
    padding: 0.2em 1.7em 0.2em 1.7em;
    color: var(--text-heading-white);
    background-color: var(--primary-red);
    transition: ease-in-out 0.5s;
}

.hero-area-content .screening-type a:hover {
    color: var(--text-black);
    background-color: var(--secondary-sand-gold);
}

.hero-wrapper .hero-info dt {
    font-family: "Bebas Neue", "Roboto Condensed", "Squada One", "Staatliches";
    font-size: 24px;
}

.hero-wrapper .hero-info dd {
    font-size: 20px;
    font-family: "Montserrat", "Merriweather", "Nunito Sans", "Oxygen", "Source Sans Pro";
    color: var(--secondary-sand-gold);
    padding-top: 0.4em;
    padding-bottom: 0.8em;
}

.hero-wrapper>p {
    text-align: center;
    padding-bottom: 2em;
    font-size: 16px;
    max-width: 50%;
    margin: 0 auto;
    color: var(--text-faded-white);
}


/* about movie homepage section */

.movie-section-wrapper {
    margin: 5em 13em 5em 13em;
}

.movie-section-wrapper>p:first-child {
    color: var(--text-highlight-yellow);
}

.movie-section-wrapper .awards {
    text-align: center;
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 5em;
}

.about-wrapper .trailer-image {
    text-align: center;
    cursor: pointer;
    width: 300;
    height: 430;
    filter: sepia(60%);
    background-size: cover;
    background-image: url(./images/godfather-poster.png);
}

.about-wrapper .trailer-image img {
    position: relative;
    margin-top: 50%;
}

.about-wrapper .trailer-image:hover {
    filter: none;
    transition: ease-in-out 0.5s;
}

.about-wrapper .about-content {
    flex-basis: 50%;
}

.about-wrapper .about-content p {
    padding-bottom: 1em;
}

.about-wrapper .about-content .blood-bg-faded {
    background-image: url(./images/blood-bg-faded.png);
    background-size: contain;
    width: 300px;
    height: 300px;
    margin: -15em 0 0 10em;
}

.about-wrapper .about-content a {
    font-family: "Bebas Neue", "Roboto Condensed", "Squada One", "Staatliches";
    font-size: 20px;
    padding: 0.2em 1em 0.2em 1em;
    color: var(--text-heading-white);
    background-color: var(--primary-red);
    transition: ease-in-out 0.5s;
    text-decoration: none;
}

.about-wrapper .about-content a:hover {
    color: var(--text-black);
    background-color: var(--secondary-sand-gold);
}

.awards {
    margin: 2em 0 2em 0;
}

.awards img {
    margin: 2em;
    width: 100px;
}


/* title actor section */

.title-actor {
    margin: 2em 0 2em 0;
    display: flex;
}

.title-actor .title-actor-image {
    padding: 5em 5em 0 10em;
    background-color: #101010;
    flex-basis: 50%;
}

.title-actor .title-actor-image img {
    margin-left: 5em;
}

.title-actor .title-actor-content {
    background: radial-gradient(50% 50% at 50% 50%, #212121 0%, #1b1a1a 100%);
    flex-basis: 50%;
    padding: 5em 10em 0em 5em;
}

.title-actor .title-actor-content .blood-bg-faded {
    background-image: url(./images/blood-bg-faded.png);
    background-size: contain;
    width: 300px;
    height: 300px;
    margin: -15em 0 0 10em;
}


/* cast and crew wrap */

.cast-and-crew-wrapper {
    margin: 0 13em 0 13em;
}

.cast-and-crew-wrapper h4 {
    padding: 4em 0 1em 0;
}

.cast-and-crew-wrapper .other-cast {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 65px;
    grid-row-gap: 65px;
}

.cast-and-crew-wrapper .other-cast .cast-wrap {
    display: flex;
}

.cast-and-crew-wrapper .other-cast .cast-wrap p {
    padding-left: 2em;
}


/* .cast-and-crew-wrapper .other-cast .cast-wrap figure img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */

.cast-and-crew-wrapper .other-cast .cast-wrap figure figcaption {
    text-align: center;
    color: var(--text-highlight-yellow);
    font-weight: 600;
    font-family: "Bebas Neue", "Roboto Condensed", "Squada One", "Staatliches";
    font-size: 20px;
    padding-top: 1em;
}


/* director related content styling */

.director-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}

.director-wrap figure {
    flex-basis: 50%;
    /* border-right: 3px solid #494949; */
}

.director-wrap figure img:last-child {
    margin-left: -4em;
    transform: rotate(-20deg);
}

.director-content {
    flex-basis: 50%;
}


/* cinematography section styling */

.cinematography-wrap {
    padding: 5em 0 5em 0;
    display: flex;
    /* background-image: url(./images/cinema-seat.png);
    background-size: contain; */
    background: radial-gradient(50% 50% at 50% 50%, #212121 0%, #1b1a1a 100%);
}

.cinematography-wrap figure {
    flex-basis: 50%;
}

.cinematography-wrap figure img {
    margin-left: 10em;
}

.cinematography-wrap .text-and-rectangle {
    margin-top: 9em;
    margin-left: 9em;
    border: 5px solid var(--primary-red);
    width: 250px;
    height: 150px;
    padding: 3em;
}

.cinematography-wrap .text-and-rectangle {
    background-image: url(./images/blood-bg-faded.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
}

.cinematography-wrap .text-and-rectangle h2 {
    color: var(--secondary-sand-gold);
}


/****************** Responsive Design********************************** */

@media screen and (max-width: 1200px) {
    header .hero-wrapper {
        margin: 0 5em 0 5em;
    }
    .movie-section-wrapper {
        margin: 5em 5em 5em 5em;
    }
    .title-actor .title-actor-image {
        padding: 3em 3em 0 3em;
    }
    .title-actor .title-actor-content {
        padding: 5em 5em 0em 5em;
    }
    .cast-and-crew-wrapper {
        margin: 0 5em 0 5em;
    }
    .cast-and-crew-wrapper .other-cast .cast-wrap {
        display: block;
    }
    .cast-and-crew-wrapper .other-cast .cast-wrap figure figcaption {
        text-align: left;
        padding-bottom: 0.5em;
    }
    .cast-and-crew-wrapper .other-cast .cast-wrap p {
        padding-left: 0;
    }
    .awards img {
        margin: 1em;
    }
}

@media screen and (max-width: 992px) {
    header .hero-wrapper {
        margin: 0 4em 0 4em;
    }
    .hero-area-title figure {
        margin-right: 0;
    }
    .hero-area-title figure img {
        width: 300px;
    }
    .hero-area-title figure figcaption {
        margin-left: 0em;
    }
    .about-wrapper {
        display: grid;
    }
    .about-wrapper .about-content {
        margin-top: 1em;
    }
    .movie-section-wrapper {
        margin: 5em 4em 5em 4em;
    }
    .title-actor {
        display: block;
    }
    .title-actor .title-actor-image {
        padding: 5em 5em 0 5em;
    }
    .title-actor .title-actor-content {
        padding: 2em 2em 0em 2em;
    }
    .cast-and-crew-wrapper {
        margin: 0 5em 0 5em;
    }
    .cast-and-crew-wrapper .other-cast .cast-wrap {
        display: block;
    }
    .cast-and-crew-wrapper .other-cast .cast-wrap figure figcaption {
        text-align: left;
        padding-bottom: 0.5em;
    }
    .cast-and-crew-wrapper .other-cast .cast-wrap p {
        padding-left: 0;
    }
    .director-wrap figure img:last-child {
        width: 100px;
    }
    .awards img {
        margin: 0.5em;
        width: 100px;
    }
    .cinematography-wrap figure img {
        margin-left: 2em;
    }
    .cinematography-wrap .text-and-rectangle {
        margin: 2em;
    }
    .cinematography-wrap .text-and-rectangle h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    header nav ul li a {
        padding: 1.5em 0.5em;
    }
    .hero-area-title h1 {
        padding: 0.5em 0.5em 0.5em 0;
    }
    .hero-area-title figure img {
        width: 250px;
    }
    .hero-area-content .hero-info {
        padding-right: 2em;
    }
    .hero-area-content .screening-type {
        margin-top: 4em;
    }
    .hero-area-content .screening-type a {
        padding: 0.2em;
    }
    .hero-wrapper>p {
        max-width: 80%;
    }
    .movie-section-wrapper {
        margin: 2em 2em 2em 2em;
    }
    .awards img {
        width: 65px;
    }
    .cast-and-crew-wrapper {
        margin: 0 2em 0 2em;
    }
    .director-wrap figure img {
        width: 200px;
    }
    .cinematography-wrap figure img {
        width: 265px;
    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 28px;
        text-align: center;
    }
    header nav {
        display: block;
    }
    header nav>a img {
        margin-left: 25%;
    }
    header nav ul li a {
        width: 25%;
        text-align: center;
    }
    header .hero-background-wrapper {
        background-image: none;
    }
    header .hero-wrapper {
        margin: 2em;
    }
    .hero-area-title {
        display: block;
    }
    .hero-area-title h1 {
        padding: 0;
        margin: 1em 0 1em 0;
    }
    .hero-area-title figure {
        padding: 1em;
    }
    .hero-area-title figure img {
        width: 300px;
    }
    .hero-area-title figure figcaption {
        margin-left: 2.5em;
        margin-bottom: 1em;
        font-size: 20px;
    }
    .hero-area-content {
        display: block;
        padding: 1em;
        margin-bottom: 1em;
        border: 2px solid #6b5e49;
    }
    .hero-area-content .hero-info {
        padding: 0;
    }
    .hero-wrapper .hero-info dt {
        font-size: 18px;
    }
    .hero-wrapper .hero-info dd {
        font-size: 16px;
    }
    .hero-wrapper>p {
        max-width: 90%;
    }
    .hero-area-content .screening-type {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .hero-area-content .screening-type a {
        padding: 0.5em 3.5em 0.5em 3.5em;
    }
    .hero-area-content .screening-type p {
        font-size: 18px;
    }
    .about-wrapper .about-content .blood-bg-faded {
        margin: -15em 0 0 0em;
        height: 260px;
    }
    .awards img {
        width: 40px;
    }
    .title-actor .title-actor-image img {
        margin-left: 0;
    }
    .title-actor .title-actor-content .blood-bg-faded {
        margin: -15em 0 0 0em;
        height: 260px;
    }
    .cast-and-crew-wrapper .other-cast {
        display: block;
    }
    .cast-and-crew-wrapper .other-cast .cast-wrap {
        margin-bottom: 2em;
    }
    .cast-and-crew-wrapper h4 {
        padding: 2em 0 1em 0;
    }
    .director-wrap {
        display: block;
    }
    .director-wrap figure {
        margin-bottom: 1em;
    }
    .cinematography-wrap {
        padding: 2em 0 2em 0;
        display: block;
    }
    .cinematography-wrap .text-and-rectangle {
        width: 200px;
    }
}


/* footer design */

footer {
    background-color: var(--bg-faded-maroon);
}

.footer-wrapper {
    padding: 5em;
    display: flex;
    justify-content: space-between;
}

footer p {
    padding-top: 0.5em;
    color: var(--text-heading-white);
}

.copyright {
    background-color: #101010;
}

.copyright p {
    text-align: center;
    font-size: 14px;
    padding: 1em;
    color: var(--text-faded-white);
}


/* footer responsiveness */

@media screen and (max-width: 768px) {
    .footer-wrapper {
        padding: 2em;
    }
    .footer-wrapper .godfather-logo-left {
        padding-right: 3em;
    }
    .footer-wrapper .godfather-logo-left a img {
        width: 100px;
    }
    .copyright p {
        font-size: 10px;
    }
}


/* movie page design ************************************************************** */

.second-hero {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #4b3432 32.77%, rgba(75, 52, 50, 0) 100%);
}

.second-hero h2 {
    margin-top: 3em;
    margin-left: 7em;
}

.second-hero img {
    margin-right: 15em;
}

.content-wrapper {
    margin: 5em 15em 10em 15em;
}

.movie-synopsis {
    margin: 5em 0 5em 0;
}

.movie-synopsis img {
    float: right;
    padding: 0 0 4em 4em;
}

.movie-synopsis p {
    padding-bottom: 1em;
}

.movie-table-wrapper {
    padding: 5em;
    background-color: var(--bg-brown-black);
}

.movie-table-wrapper p {
    font-family: "Bebas Neue", "Roboto Condensed", "Squada One", "Staatliches";
    font-size: 28px;
    color: var(--secondary-sand-gold);
    width: 100%;
}

.movie-table-wrapper dl {
    padding: 1em;
    font-family: "Montserrat", "Merriweather", "Nunito Sans", "Oxygen", "Source Sans Pro";
    font-size: 18px;
    color: var(--text-heading-white);
}

.movie-table-wrapper dd {
    float: left;
    padding: 1em 2em 1em 0em;
    width: 40%;
    border-bottom: 3px solid rgb(96, 78, 64);
}

.movie-table-wrapper dt {
    border-bottom: 3px solid rgb(96, 78, 64);
    padding: 1em 2em 1em 0em;
    color: #d4b49e;
}

.poster-download {
    margin: 5em 0 5em 0;
    display: flex;
}

.poster-download figure {
    width: 50%;
}

.poster-download .download {
    margin-top: 13em;
}

.poster-download .download p {
    margin-bottom: 1em;
}

.poster-download .download .blood-bg-faded {
    background-image: url(./images/blood-bg-faded.png);
    background-size: contain;
    width: 300px;
    height: 300px;
    margin: -15em 0 0 10em;
}

.poster-download .download a {
    margin-top: 2em;
    text-decoration: none;
    font-family: "Bebas Neue", "Roboto Condensed", "Squada One", "Staatliches";
    font-size: 20px;
    padding: 0.2em 1.7em 0.2em 1.7em;
    color: var(--text-heading-white);
    background-color: var(--primary-red);
    transition: ease-in-out 0.5s;
}

.poster-download .download a:hover {
    color: var(--text-black);
    background-color: var(--secondary-sand-gold);
}


/* facts section design */

.movie-facts h4 {
    padding-bottom: 2em;
}

.fact-card {
    background-color: var(--bg-brown-black);
    padding: 2em;
    margin-bottom: 2em;
    border-left: 4px solid var(--primary-red-faded);
}

.fact-card p {
    font-size: 16px;
    font-weight: 600;
    padding: 1em 0em 1em 0em;
}


/* **********************  Tickets and Time Page Design */

.second-hero .movie-kit-illustration {
    padding: 3em;
}

.showcase-cinema {
    display: flex;
}

.showcase-cinema figure {
    flex-basis: 50%;
}

.showcase-cinema .showcase-cinema-content {
    flex-basis: 50%;
}


/* design of showtime section */

.showtime-wrapper {
    background-color: var(--bg-brown-black);
    padding: 3em;
    margin: 5em 0 5em 0;
}

.showtime-wrapper .showtime {
    display: flex;
}

.showtime-wrapper .showtime h2 {
    margin-left: 0.5em;
    font-size: 28px;
    color: var(--secondary-sand-gold);
}

.showtime-wrapper .showtime-table {
    width: 100%;
    font-family: "Montserrat", "Merriweather", "Nunito Sans", "Oxygen", "Source Sans Pro";
    font-size: 16px;
    color: var(--text-heading-white);
}

.showtime-wrapper .showtime-table tr {
    border-bottom: 3px solid rgb(96, 78, 64);
}

.showtime-wrapper .showtime-table th {
    height: 60px;
    text-align: left;
    vertical-align: middle;
}

.showtime-wrapper .showtime-table td {
    height: 60px;
    vertical-align: middle;
    color: var(--secondary-sand-gold);
}

.showtime-wrapper .showtime-table td span {
    background-color: rgb(218, 164, 116);
    color: var(--text-black);
    padding: 0.5em;
    border-radius: 10px;
}

.showtime-wrapper .ticket-price-wrapper {
    display: flex;
}

.showtime-wrapper .ticket-price-wrapper img {
    margin-left: 5em;
}

.showtime-wrapper .ticket-price-wrapper .ticket-fare-table {
    flex-basis: 50%;
    width: 100%;
    font-family: "Montserrat", "Merriweather", "Nunito Sans", "Oxygen", "Source Sans Pro";
    font-size: 16px;
    color: var(--text-heading-white);
}

.showtime-wrapper .ticket-price-wrapper .ticket-fare-table tr {
    border-bottom: 3px solid rgb(96, 78, 64);
}

.showtime-wrapper .ticket-price-wrapper .ticket-fare-table th {
    height: 60px;
    text-align: left;
    vertical-align: middle;
}

.showtime-wrapper .ticket-price-wrapper .ticket-fare-table td {
    height: 60px;
    vertical-align: middle;
    text-align: right;
    font-weight: 600;
    font-size: 20px;
    color: var(--secondary-sand-gold);
}


/* design of location and address */

.location-wrapper {
    display: flex;
    background-color: #303030;
}

.location-wrapper .cinema-address {
    margin: 5em;
}

.location-wrapper .cinema-address h2 {
    padding: 0.5em;
}

.location-wrapper .address-wrapper {
    display: flex;
}

.location-wrapper .contact-wrapper {
    display: flex;
}

.location-wrapper .address-wrapper img {
    margin: 1em;
}

.location-wrapper .contact-wrapper img {
    margin: 1em;
}

.location-wrapper .address-wrapper>p {
    color: var(--secondary-sand-gold);
    margin: 1em;
    font-size: 20px;
}

.location-wrapper .contact-wrapper>p {
    color: var(--secondary-sand-gold);
    margin: 1em;
    font-size: 20px;
}

.invitation-wrapper h2 {
    text-align: center;
    padding-top: 3em;
    color: var(--text-faded-white);
}

.invitation-wrapper {
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    background-image: url(./images/theatre-seats.jpg);
    background-size: cover;
}